* {
  margin: 0;
  padding: 0;
}
 .grey-text {
  color: red !important;
}

body {
  background-color: whitesmoke;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #043B4B;
  width: 100%;
  height: 75px;
  opacity: 0.97;
  text-align: left;
  border-radius: 0px;
}

.galvanize-logo {
  height: 77px;
  padding-top: 21px;
  padding-left: 21px;
  padding-bottom: 20px;
}

.eventbrite-logo {
  height: 77px;
  padding-top: 21px;
  padding-right: 21px;
  padding-bottom: 21px;
  float: right;
}

.eventbrite-logo:hover {
  text-shadow: 2px 2px 5px red;
}

.meetTheStudentsHeader {
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#cards {
  padding-left: 10px;
  padding-right: 10px;
}

#cardIcon {
  color: #043B4B;
  margin-left: 0;
}

.table {
  width: 100%;
  vertical-align: top;
  text-align: center;
  border: 0;
  margin: 0;
}

.galvanizeG {
  width: 150px;
  padding: 23px;
  text-align: center;
}

.galvanizeGtd {
  width: 55;
  vertical-align: top;
  text-align: center;
}

.footerNavContainer {
  vertical-align: top;
  text-align: center;
  border: none;
}

.footerNav {
  text-align: center;
}

.menuFooter {
  display: block;
  color: #C6BFB7;
  text-align: center;
  float: left;
}

table {
  width: 100%;

}

.menuItems {
  list-style: none;
}

.menuAbout {
  color: #C6BFB7;
  float: left;
  text-decoration: none;
}

.menuAbout:hover {
  color: white;
}

.menuFAQ {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
}

.menuFAQ:hover {
  color: white;
}

.menuPress {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
}

.menuPress:hover {
  color: white;
}

.menuCareers {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
}

.menuCareers:hover {
  color: white;
  text-decoration: none;
}

.menuLogin {
  color: #C6BFB7;
  padding-left: 10px;
  float: left;
  text-decoration: none;
}

.menuLogin:hover {
  color: white;
  text-decoration: none;
}

.address {
  color: #C6BFB7;
  float: left;
  text-align: left;
  width: 100%;
  border-top: 1px solid #C6BFB7;
}

.techTalent {
  color: #F58F32;
  text-decoration: none;
}

.techTalent:hover {
  transition: color 0.5s ease;
  color: white;
  text-decoration: none;
}

.socialIcons {
  display: inline-block;
}

#icons {
  color: #C6BFB7;
  text-decoration: none;
  display: inline-block;
}

footer {
  position: sticky;
  background-color: #043B4B;
  width: 100%;
  height: 200px;
  bottom: 0;
  text-align: center;
  opacity: 0.97;
}
